@import '../../styles/main';

.app-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 18px;
    border-radius: 20px;
    cursor: pointer;
    transition: all linear 150ms;
    height: 35px;
}

.app-btn:hover {
    transform: scale(1.05);
}

.app-btn-outline {
    background-color: transparent !important;
    border-width: 2px;
    border-style: solid;
    border-color: $color-primary;
    color: $color-primary;
}

.app-btn-plain {
    background-color: $color-primary;
    color: $color-white;
}

@media (prefers-color-scheme: dark) {
    .app-btn-plain {
        background-color: $color-white;
        color: $color-primary !important;
    }

    .app-btn-outline {
        background-color: transparent !important;
        color: $color-white;
        border-color: $color-white;
    }
}
